{% extends 'base.html' %}

{% block content %}
<h2>Wyszukaj dostępne terminy</h2>
<form action="{% url 'search_available_appointments' %}" method="get">
    <label for="date">Data:</label>
    <input type="date" id="date" name="date">
    
    <label for="specialization">Specjalizacja:</label>
    <select id="specialization" name="specialization">
        <option value="">Wybierz specjalizację</option>
        {% for spec in specializations %}
        <option value="{{ spec }}">{{ spec }}</option>
        {% endfor %}
    </select>
    
    <button type="submit">Szukaj</button>
</form>
{% endblock %}
